<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        <% cartItems.forEach(item => { %>
            <li>
                <%= item.product.name %> - $<%= item.product.price %> - <%= item.quantity %> pcs
                <form action="/cart/remove/<%= item.product.id %>" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Remove</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/">Continue Shopping</a>
</body>
</html>
